@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


:root{
    --cor1: rgb(60, 128, 103);
    --cor2: rgb(242, 235, 227);
    --cor3: rgb(28, 35, 43);
    --cor4: rgb(108, 114, 137);
    --cor5: rgb(255, 255, 255);

    --font1: 'Fraunces', serif;
    --font2: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--cor2);
}

main{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 96%;
    min-height: 545px;
    max-height: 600px;
    width: 95%;
    min-width: 280px;
    max-width: 300px;

    background-color: var(--cor5);

    border-radius: 15px;

    overflow: hidden;

    transition: 2s;
}

.image{
    height: 42%;
    width: 100%;

    background-color: beige;

    transition: 2s;
}

.image img{
    width: auto;
    height: 100%;
}

.content{
    height: 58%;
    width: 100%;

    padding: 20px;

    background-color: var(--cor5);

    transition: 2s;
}

.content > span:nth-of-type(1){
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 0.67rem;
    letter-spacing: 5px;
    color: var(--cor4);

    margin-bottom: 10px;

    display: inline-block;
}

.content h1{
    font-size: 1.6rem;
    font-family: var(--font1);
    font-weight: 500;
    line-height: 28px;
    color: var(--cor3);

    margin-bottom: 14px;
}

.content p:nth-of-type(1){
    color: var(--cor4);
    font-size: 0.73rem;
    font-family: var(--font2);
    line-height: 20px;

    margin-bottom: 5%;
}

.content p:nth-of-type(2){
    margin-bottom: 10%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.content p:nth-of-type(2) span:nth-of-type(1){
    color: var(--cor1);
    font-family: var(--font1);
    font-size: 1.6rem;
}

.content p:nth-of-type(2) span:nth-of-type(2){
    color: var(--cor4);
    font-size: 0.8rem;
    font-family: var(--font2);
}

.content button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    border: 0;
    border-radius: 5px;
    
    cursor: pointer;
    
    background-color: var(--cor1);

    color: var(--cor5);
    font-weight: 700;
    
    padding: 10px 0;
    
    width: 100%;
}

.content button:hover{
    background-color: rgba(60, 128, 103, 0.864);
}

.content button:active{
    background-color: rgb(31, 60, 49);    
}

.content button span{
    font-size: 1rem;
}
/*----------------------Media queries--------------------*/
@media screen and (min-width:768px){
    .card{
        /*
        height: 96%;
        min-height: 545px;
        max-height: 600px;
        width: 95%;
        min-width: 280px;
        max-width: 300px;
    
        background-color: var(--cor5);
    
        border-radius: 15px;
    
        overflow: hidden;
        */
        min-height: 380px;
        max-height: 380px;
        max-width: 600px;

        display: flex;
        flex-direction: row;
    }
    
    .image{
        /*
        height: 42%;
        width: 100%;
    
        background-color: beige;

        transition: 2s;
        */
        height: 100%;
        width: 50%;
    }

    .image img{
        /*
        width: auto;
        height: 100%;
        */
        width: 100%;
        height: auto;
    }
    
    .content{
        /*
        padding: 20px;
    
        background-color: var(--cor5);

        transition: 2s;
        */
        padding: 30px;

        width: 50%;
    }

    .content > span:nth-of-type(1){
        /*
        font-family: var(--font2);
        text-transform: uppercase;
        font-size: 0.67rem;
        letter-spacing: 5px;
        color: var(--cor4);
        margin-bottom: 10px;
    
        display: inline-block;
        */
        margin-bottom: 20px;
    }
    
    .content h1{
        /*
        font-size: 1.6rem;
        font-family: var(--font1);
        font-weight: 500;
        line-height: 28px;
        color: var(--cor3);
    
        margin-bottom: 14px;
        */
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .content p:nth-of-type(2){
        /*
        margin-bottom: 10%;
    
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 15px;
        */
        margin-bottom: 12%;
    }
}